<div class="festejo">
    <h2>@ViewBag.PlayerName Felicidades Ganaste!</h2>
    <p>Se abre la maquina expendedora ves que hay una escalera, decides bajar y encuentras a la familia Pines que
        estaban encerrados en una jaula gigante con un GNOMO VIJILANDOLOS????  </p>
    <video controls>
      <source src="..\Videos\puertaSecreta.mp4" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>
        <p>Decides patear al gnomo que empieza a
        vomitar arociris??</p>  
    <video controls>
      <source src="..\Videos\gnomoVomitando.mp4" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>
<p>Pero no dudas un minuto y tomas la llave de la mesa para liberar a la familia Pines de la jaula. Resulta que las cosas eran aún más extrañas: los había encerrado un triángulo amarillo superpoderoso llamado Bill, que quería usar el portal de mundos que la familia Pines tenía en el sótano. Así que, por el momento, con las ganancias de este caso, has decidido tomarte 3 meses de vacaciones para despejar tu mente.</p>
<p>Has ganado con solo @ViewBag.ErrorCod intentos fallidos.</p>

    <button onclick="launchConfetti()">Hace Click Acá!</button>
    <script src="dist/bundle.js"></script>
</div>