<div class="Contenido">

    <p>Hola, @ViewBag.PlayerName bienvenido al escape room de Gravity Falls. Antes de empezar, necesitamos aclarar algunos puntos
        importantes:
    </p>
    <p>1. A lo largo del juego aparecerán diversos diarios e informacion que te vamos a otorgar tendrán información
        importante que será útil para todo el juego, te recomendamos anotar poque no podras retroceder en busca de
        informacion.
    </p>
        <div class='imgTut'>
            <img src="../Fotos/tutorial2.png" alt="mysery shack">
        </div>
    <p>2. Al final de cada sala, tendras que constestar preguntas relacionadas a la historia del Escape Room para pasar
        a la sigiente. Los diarios te ayudarán a decidir cuál es la correcta.
    </p>
    <p>3. Habrá un contador que calcula cual será el tiempo en el que resuelves el Escape Room ¿Que tan rapido puedes
        resolverlo?
    </p>

    <p> Aqui tienes un poco sobre de que se trata la serie de Gravity Falls...</p>
    <p>El tío Stan invita a los gemelos Dipper y Mabel Pines a pasar el verano en el misterioso pueblo de Gravity Falls,
        Oregón. Los niños lo ayudan en la Cabaña del Misterio, la trampa turística que posee. Los gemelos tratan de
        adaptarse al entorno diferente, pero sienten que hay algo extraño en Gravity Falls y comienzan a descubrir sus
        secretos. Cuando Dipper descubre un diario críptico que ofrece el conocimiento de los misterios de la ciudad, él
        y Mabel lo usan para vencer al mal, y luchan para descubrir los inminentes misterios que los rodean. </p>
        <div class='imgTut2'>
            <img src="../Fotos/tutorial1.png" alt="mabel y dipper">
        </div>
        
    <p> Antes de comenzar queremos recordarte que es de suma importancia leer toda la informacion detalladamente y que
        esta pude ser util durante toda la sala. Es MUY IMPORTANTE que recuerdes que a la hora de ingresar los codigos
        los ingreses en MAYUSCULAS, pueden ser más de una palabra. </p>
    <p>Por último, disfruta del juego y mucha suerte!!!</p>
</div>